LOOPS

for loop

while loop

In [1]:
fruits = ['Apples','Pears','Oranges','Peaches','Bananas']
for x in fruits:
    print(x)

Apples
Pears
Oranges
Peaches
Bananas

In [3]:
fruits = ['Apples','Pears','Oranges','Peaches','Bananas']
for x in fruits:
    print(x, end=' ')

Apples Pears Oranges Peaches Bananas

In [4]:
fruits = ['Apples','Pears','Oranges','Peaches','Bananas']
for x in fruits:
    print(x, end='')

ApplesPearsOrangesPeachesBananas

In [6]:
name = "My name is John"
for i in name:
    print(i, end='')

My name is John

In [7]:
name = "My name is John"
for i in name:
    print(i)

M
y

n
a
m
e

i
s

J
o
h
n

In [5]:
a = [2,4,6,8,10,12,14]
for num in a:
    print(num)

2
4
6
8
10
12
14

In [2]:
mobileapps = ['whatsapp','telegram','playstore','chrome','calender']
for x in mobileapps:
    print(x)

whatsapp
telegram
playstore
chrome
calender

In [8]:
for name in range(10):
    print("tanya")

tanya
tanya
tanya
tanya
tanya
tanya
tanya
tanya
tanya
tanya

In [9]:
for num in range(2,11):
    print(num)

2
3
4
5
6
7
8
9
10

In [22]:
num = 1
while num<11:
    print(num)
    num+=1

1
2
3
4
5
6
7
8
9
10

In [15]:
for num in range(2,21,2):
    print(num)

2
4
6
8
10
12
14
16
18
20

In [25]:
for i in range(21):
if i%2!=0:
    print(i)

IndentationError: expected an indented block after 'for' statement on line 1 (111012762.py, line 2)

In [27]:
for i in range(21):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19

In [2]:
num = int(input("Enter a number: "))
sum_digit = 0
for digit in str(num):
    sum_digit += int(digit)
print("sum of digits:", sum_digit)

sum of digits: 10

In [20]:
num=1
while num<10:
    if num%2!=0:
        print(num)
    num+=1

1
3
5
7
9

In [4]:
bs = 50000
da = (10/100)*bs
hra = (5/100)*bs
gs=bs+da+hra
print(gs)

57500.0

In [29]:
num = 15
for i in range(1,11):
    print(f"{num} * {i} = {num*i}")

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [34]:
num = 15
i = 1
while i<=10:
    print(f"{num} * {i} = {num*i}")
    i+=1

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [3]:
arr = [3,7,1,9,4,6,8,2,5]
max_element = arr[0]
for num in arr:
    if num > max_element:
        max_element = num
print("Largest element in the array:",max_element)

Largest element in the array: 9

In [4]:
arr = [3,7,1,9,4,6,8,2,5]
max_element = arr[0]
for num in arr:
    if num < max_element:
        max_element = num
print("smallest element in the array:",max_element)

smallest element in the array: 1

In [5]:
string = "Hello World"
vowel_count = 0
for char in string:
    if char in "aeiouAEIOU":
        vowel_count += 1
print("Number of vowels in the string:", vowel_count)

Number of vowels in the string: 3

In [2]:
for i in range(1,6):
    print("\nMultiplication table for", i)
    for j in range(1,11):
        print(i, "*", j, "=", i *j)

Multiplication table for 1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

Multiplication table for 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

Multiplication table for 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

Multiplication table for 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

Multiplication table for 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

while loop

In [11]:
name = 0
while name<10:
    print("tanya")
    name+=1

tanya
tanya
tanya
tanya
tanya
tanya
tanya
tanya
tanya
tanya

BREAK

In [2]:
for x in range(2,10):
    if x==5:
        break
    print(x)

2
3
4

In [3]:
for x in range(2,10):
    if x==5:
        continue
    print(x)

2
3
4
6
7
8
9