Operators

In [1]:
a = 9
b = 10
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

19
-1
90
0.9
9
0
3486784401

In [5]:
a+=4
print(a)

5

In [ ]:
a-=8
print(a)

In [6]:
a = 10
print(a)

10

In [7]:
a*=7
print(a)

70

In [8]:
a/=5
print(a)

14.0

In [9]:
a//=9
print(a)

1.0

In [10]:
a==2
b==2
print(a==b)

False

In [11]:
a==2
b==2
print(a==b)

False

In [12]:
a=6
b=5
print(a!=b)

True

In [14]:
a=6
b=7
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True

In [2]:
a = 7
b = 6
c = 3
a<b and b>c and c<a

False

In [3]:
a<b or b>c or c<a

True

In [4]:
not(a<b or b>c or c<a)

False

In [5]:
not(a<b and b>c and c<a)

True

In [6]:
a is b

False

In [7]:
a is not b

True

In [8]:
vegetables = ["brinjal", "cabbage", "potato", "onion","ginger","spinach"]
"brinjal" not in vegetables

False

In [9]:
 "brinjal" in vegetables

True

In [5]:
fruit = ["apple", "banana","cherry", "orange", "kiwi", "mango "]
print(fruits)

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango ')

In [7]:
fruit.append("grapes")
print(fruit)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango ', 'grapes']

In [3]:
fruits = ("apple", "banana","cherry", "orange", "kiwi", "mango ")
print(fruits)

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango ')

In [4]:
fruits.append("grapes")

AttributeError: 'tuple' object has no attribute 'append'

In [8]:
num = {1,2,3,4,5,2,6,7,8,9,10,3,4}
print(num)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [12]:
student = {
    "name": "Mark",
    "student_id": 15167,
    "feedback" : None
}
print(student)

{'name': 'Mark', 'student_id': 15167, 'feedback': None}

In [13]:
type(student)

dict

In [14]:
a = input("Enter a number:")
b = input("Enter another number:")
print(a+b)

105

In [15]:
a = int(input("Enter a number:"))
b = int(input("Enter another number:"))
print(a+b)

15

In [16]:
a = int(input("Enter a number:"))
b = float(input("Enter another number:"))
print(a+b)

17.8

In [17]:
a = int(input("Enter a number:"))
b = input("Enter another number:")
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [18]:
type(a) #string concatenation

int

In [19]:
x = input("Enter a number:")
#type casting
y = int(x)
print(y)

10

In [20]:
type(y)

int

In [21]:
#print formatting
a = 10
b = 20
print(a+b)

30

In [22]:
c=a+b
print("The sum is", c)

The sum is 30

In [23]:
print("The sum of",a,"and",b,"is",c)

The sum of 10 and 20 is 30

In [1]:
print(f"the sum of {a} and {b} is {c}")

NameError: name 'a' is not defined